#root{
  background-color:black;
}
.container{
  display:flex;
  flex-direction: column;
  border:5px solid blueviolet;
  height:100%;
  padding:0;

}
.inner-container{
  height:75px;
  flex-grow:1;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  color:white;
  font-size: 14pt;
  font-weight:bolder;
  background-color: blueviolet;
}
.inner-container h1{
  font-size:900;
  text-decoration:underline;
}

.tile{
  border:5px solid black;
  height:200px;
  width:200px;
  background-color: bisque;
  margin:10pt;
}

.game-board{
  display:flex; /* inline, block */
  margin:40px;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.tile img{
  height:200px;
  width:200px;
}

.description{
  background-color: blueviolet;
  height:100px;
  flex-grow:1;

  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  color:white;
  font-size: 10pt;
  font-weight:normal;
  padding-left:10%;
  padding-right:10%;
  margin:0;
}

.description h1{
  font-size:15pt;
  text-decoration: underline;
}